body {
  padding: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
}

.columnButton {
  border: none;
  padding: 5px;
  background-color: #585858;
}

.columnButton:hover{
  background-color: #C9C9C9;
}

.columnButton:active {
  background-color: #7F929F;
}

#sliderDiv {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  /* column-count: 3; */
  grid-auto-flow: rows;
}


.header {
  background-color: #2C3D55;
}

.backButton {
  border: none;
  position: relative;
  height: 45px;
  width: 55px;
  left: 0%;
  background-color: inherit;
  font-weight: bolder;
  font-size: 40px;
  color: #aaa;
  font-family: sans-serif;
}

.backButton:hover{
  color: #888;
}

.navigationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonContainer {
  width: 100%;
  display: grid;
  /* position: absolute; */
}

.navigationButton {
  border: none;
  position: relative;
  height: 50px;
  left: 25%;
  width: 75%;
  background-color: inherit;
  font-weight: bolder;
  font-size: 20px;
  color: #aaa;
  font-family: sans-serif;
}

.navigationButton:hover{
  color: #888;
}

.opener {

}

.opened {
  display: grid;
  width: 100% - 40px;
  margin: 0px;
  grid-template-columns: 1fr 1fr;
  /* background-color: #333; */
  padding: 20px;
  left: 0px;
  margin-bottom: 20px;
}

/* .animation {
  animation: 0.5s navigation ease-out;
  width: 100%;
}

@keyframes navigation {
  0% {
    width: 0%;
    display: grid;
  }

  100% {
    width: 100%;
  }
} */

body {
  background-color: #343434;
}

input {
  background-color: #585858;
  border: none;
}
