body {
  padding: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #343434;
}

.help {
  text-align: center;
}

.helpContainer {
  display: none;
  margin: 5px;
  border: solid black 2px;
  padding: 5px;
}

.bigContainer {
  width: 90%;
  left: 5%;
  position: absolute;
  border: solid black 2px;
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 10px;
}

canvas {
  padding: 0px;
  margin: 60px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#inputGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

th {
  text-align: left;
}

tr:first-child {
  background-color: #2C3D55;
  border-color: #2C3D55;
}

tr:nth-child(even) {
  background: #595959;
  border-color: #595959;
  border-width: 10px;
}

tr:hover {
  background: #2C3D55;
}

.header {
  width: 100% - 40px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #333;
  padding: 20px;
  left: 0px;
  margin-bottom: 20px;
}

.backButton {
  border: none;
  position: relative;
  height: 45px;
  width: 55px;
  left: 0%;
  background-color: inherit;
  font-weight: bolder;
  font-size: 40px;
  color: #aaa;
  font-family: sans-serif;
}

.backButton:hover{
  color: #888;
}

.navigationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonContainer {
  width: 100%;
  display: grid;
  /* position: absolute; */
}

.navigationButton {
  border: none;
  position: relative;
  height: 50px;
  left: 25%;
  width: 75%;
  background-color: inherit;
  font-weight: bolder;
  font-size: 20px;
  color: #aaa;
  font-family: sans-serif;
}

.navigationButton:hover{
  color: #888;
}

body {
  background-color: #343434;
  font-family: sans-serif;
}

.header {
  background-color: #2C3D55;
}

input {
  background-color: #585858;
  border: none;
}

#go {
  background-color: #585858;
  border: none;
}

#go:hover {
  background-color: #C9C9C9;
}

.helpHeader {
  font-size: 32px;
  text-align: center;
  left: 35%;
  height: 50px;
  width: 100%;
}

.helpContainer {
  margin: 5%;
  padding: 5%;
  display: block;
  border: none;
}
