p{
  animation-duration: 3s;
  animation-name: anim;
  animation-fill-mode: alternate;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0% {
    margin: 0%;
  }
  100%{
    margin: 100%;
  }
}
